
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#47395F));
  background: linear-gradient(#313131, #47395F);
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: Oswald, sans-serif;
  font-weight: 200;
}

h1, .main-text, .subheading {
  background-color: #FFFDD0;
}

header {
  color: #313131;
  text-align: center;
}

h1 {
  width: auto;
  font-size: 72px;
  padding: 150px 0 0 0;
}

h1, .button {
  font-family: Quattrocento Sans, serif;
  letter-spacing: -0.05em;
}

.subheading {
  font-size: 22px;
  padding: 0 45px 150px 45px;
}

.main-text {
  padding: 60px 75px 100px 75px;
  line-height: 1.35em;
}

.dates {
  border: 1px solid #923069;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  margin-top: 20px;
}

.final {
  text-align: center;
  font-size: 22px;
  padding: 40px;
}

footer {
  background-color: #313131;
  color: #FFFDD0;
  text-align: center;
  padding: 150px 0 0 0;
}

.button:link,
.button:visited {
  font-size: 36px;
  color: #FFFDD0;
  padding: 20px 40px;
  background-color: #313131;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid #FFFDD0;
  -webkit-transition: background-color 0.5s, border 0s, color 0.5s;
}

.button:hover,
.button:active {
  font-size: 36px;
  color: #313131;
  padding: 20px 40px;
  background-color: #FFFDD0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 50px;
}

.footer-text {
  font-size: 13px;
  padding-top: 125px;
  padding-bottom: 10px;
}

a:link {
  color: #1990FF;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
